{% extends "base.html" %}

{% block body %}

<!-- Content -->

<section class="m-5" id="edit_manufacturer">
  <div class="container m-5">
    <form action="{{ url_for('manufacturers') }}" method="post">
        
      <div class="mb-3">
        <input type="hidden" id="manufacturer_id" name="manufacturer_id" value="{{ manufacturer_details[0] }}">
        <label for="manufacturer_name" class="form-label">manufacturer Name</label>
        <input type="text" class="form-control" id="manufacturer_name" name="manufacturer_name"
                 aria-describedby="manufacturer_name" value="{{ manufacturer_details[1] }}">
      </div>
      <div class="mb-3">
        <label for="manufacturer_url" class="form-label">manufacturer Wikipedia Page</label>
        <input type="text" class="form-control" id="manufacturer_url" name="manufacturer_url"
          aria-describedby="manufacturer_url" value="{{ manufacturer_details[2] }}">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>

{% endblock %}