{% extends "base.html" %}

{% block body %}

<section class="m-5" id="manufacturer_table">
  <div class="container m-5">
    <h1>Manufacturers</h1>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Manufacturer Name</th>
          <th scope="col">Action/th>
          <th scope="col">URL</th>

        </tr>
      </thead>
      <tbody>
        {% for manufacturer in manufacturers_info %}
        <tr>
          <td>{{ manufacturer[0] }}</td>
          <td><a href="#" role="button" class="link-dark"><i class="bi-pencil-square"></i></a>
            <a href="#" role="button" class="link-dark"><i class="bi-trash-fill"></i></a>
          </td>
          <td><a href="{{ manufacturer[1] }}" role="button" class="link-dark"><i class="bi-link-45deg"></i></td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <a class="btn btn-secondary" href="{{ url_for('add_manufacturer') }}" role="button">Add manufacturer</a>
  </div>
</section>
{% endblock %}